.list {
  margin-left: -4px;
}
.listItem{
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  transition: all .25s ease-in-out;
  margin-top: -2px;
}

.listItem:hover{
  background-color: var(--bg-on-surface);
}

.listItem:hover > .todoDelete {
  opacity: 1;
}

.todoInput{
  margin-right: 8px;
}

.todoTitle{
  border-width: 1px;
  border-style: dashed ;
  border-color: transparent;
  border-radius: 2px;
  transition: all .25s ease-in-out;
  font-size: 14px;
}

.todoTitle:hover{
  border-color:  var(--border-color);
}

.todoToggle {
  margin-right: 8px;
}
.todoDelete {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: transparent;
  opacity: 0;
  transition: all .15s ease-in-out;
}

